button {
    background-color: #D9C8A9;
    border: none;
    cursor: pointer;
    outline: none;
}

.abrir-menu {
    width: 85px;
    height: 85px;
}

footer{
    border-top:rgba(221, 114, 43, 0.164); 
    border-style: solid;
}


.logo{
    width: 7%;
}

html,
body {
    overflow: hidden;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    background-color: #D9C8A9;
    border-bottom:rgba(221, 114, 43, 0.164); 
    border-style: solid;
}

header.fix {
    position: fixed;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 5px 5px 130px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main#caixa-inicial {
    flex: 1;
    overflow-y: auto;
    padding-top: 130px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    background-color: #D9C8A9;
    border-radius: 35px;
    padding-bottom: 15px;
    padding-right: 0;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.258);
}

section {
    display: flex;
    justify-content: center;
}

.linha1 {
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    flex-wrap: nowrap;
    
}
.linha2 {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
}

nav {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

nav a {
    width: 80px;
    height: 80px;
}



.areapesq {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #FFFAF2;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #D9C8A9;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}



footer.fix {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.botaoanexo {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 5px;
}

.botaohome {
    display: flex;
    justify-content: flex-start;
}

.pesqres {
    font-size: 30px;
    margin-right: 10px;
    padding: 0;
    text-wrap:inherit;
}

.alinhar {
    width: 100%;
    font-size: 40px;
    margin-left: 20px;
    padding: 0;
}

.sectitulo {
    text-decoration: underline;
}

.sectext {
    font-size: 20px;
}


.container-topicos {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.topico {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    background-color: #f5f5f5;
    padding: 1%;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.258);
    color: black;
    margin-bottom: 15px;
    text-decoration: none
}

.botao_a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.topico1 {
    display: flex;
    justify-content: center;
    width: 100%;
    

}

.apuracao {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 95%;
}

.taxas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e6e6e6;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.037);
}


.denuncia {
    display: flex;
    justify-self: center;
}

.botaodenuncia {
    display: flex;
    align-items: center;
    background-color: #e6e6e6;
    border-radius: 30px;
    padding: 10px 120px 10px 20px;
    text-decoration: none;
    box-shadow:10px 10px 10px  rgba(0, 0, 0, 0.258);
}

.denuncia-text {
    font-size: 24px;
    text-align: center;
    color: black;
}

.icone {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

.nav-text {
    flex-grow: 1;
    margin: 0 15px;
    text-align: left;
}

.porcentagem {
    margin-left: 10px;
    border-radius: 1000px;
    border-style: solid;
    padding: 5px 10px;
    min-width: 50px;
    text-align: center;
    flex-shrink: 0;
}

#verdadeiro {
    border-color: chartreuse;
}

#falso {
    border-color: red;
}

#inc {
    border-color: yellow;
}

.porcentagem#verdadeiro {
    background-color: rgba(16, 225, 44)
}

.porcentagem#falso {
    background-color: rgba(217, 67, 13)
}

.porcentagem#inc {
    background-color: rgba(255, 214, 66)
}

span {
    font-size: 20px;

}

.videos {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.videos img:first-child {
    max-width: 50%;
    height: auto;
}

.videos img:last-child {
    max-width: 15%;
    height: auto;
    cursor: pointer;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.menu-lateral.aberto {
    transform: translateX(0);
}

.menu-lateral button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.botaolateral {
    width: 80px;
    margin-left: 20px;
}

.voltar {

    position: absolute;
    justify-content: start;
    width: 100%;
    background-color: transparent;
}

#botaovoltar {
    background: transparent;
}

h4{
    margin: 0;
}
/* 
a:active{
    transition: 0.3s ease;
    width: 90;
} */